@import "tailwindcss";
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: "Times";
  src: local("times"), 
  url('./assets/fonts/times.ttf');
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F5E7C6;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
